@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;

  &__left {
    width: 50%;
    position: relative;
    padding-top: calc(50% * 9 / 16); /* Maintain the 16:9 aspect ratio */
  }

  &__right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrap {
    display: flex;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 37px;
    text-align: center;
    font-family: Roboto;
  }
}
@media (max-width: 1424px) {
  .card__text{
    font-size: 24px;
  }
  
}