:root {
  --icon-size: 40px; /* Default icon size */
}

.main-container {
  width: 100%;
  max-width: 1034px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto, sans-serif;
  height: 400px;
  text-align: center;
}

.main-container__left,
.main-container__mid,
.main-container__right {
  height: 150px;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Start items at the top */
  align-items: center;
  text-align: center;
  position: relative; /* Enables absolute alignment for h4 */
}

.main-container__left h4,
.main-container__mid h4,
.main-container__right h4 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin-top: auto; /* Push to the bottom */
}

.main-container__left img,
.main-container__mid img,
.main-container__right img {
  width: var(--icon-size);
  height: auto; /* Maintains aspect ratio */
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    height: auto; /* Adjust height for smaller screens */
  }

  .main-container__left,
  .main-container__mid,
  .main-container__right {
    width: 100%;
    margin-bottom: 1rem; /* Add space between sections */
  }
  .main-container__left h4,
  .main-container__mid h4,
  .main-container__right h4 {
   margin-top: 0;
 
  }
}

@media (max-width: 480px) {
  :root {
    --icon-size: 25px;
  }

  .main-container__left h4,
  .main-container__mid h4,
  .main-container__right h4 {
    font-size: 1rem;
 
  }
}
