.banner {
  width: 100%;
  position: relative;
  aspect-ratio: 3 / 1; // Default aspect ratio
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: aliceblue;

  // Semi-transparent overlay
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); // Semi-transparent black
    z-index: -1; // Ensures the overlay stays behind the text but above the video
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; // Ensures video stays behind the overlay
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 555px;
    font-family: 'Roboto', sans-serif;
  }

  &__text h3 {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 0.3rem;
  }

  &__text p {
    margin-top: 20px;
    font-weight: 500;
    line-height: 1.6rem;
  }
}

/* Media query for screens 1024px or wider */
@media (max-width: 1024px) {
  .banner {
    &__text h3 {
      font-size: 27px;
    }
  }
}

@media (max-width: 645px) {
  .banner {
    aspect-ratio: 2 / 1;

    &__text p {
      font-size: 15px;
      line-height: 1.2rem;
    }

    &__text h3 {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}

@media (max-width: 480px) {
  .banner {
    aspect-ratio: 1 / 1;
  }
}
